body{
    font-family: Arial;
    margin: 0 0;
    position: relative;
}

.corps{
    padding-bottom: 100px;
}

a{
    text-decoration: none;
}


.main{
    position: relative;
}


/*Accueil*/
.imageFond{
    width: 100%;
}

.VersProduit{
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 35%;
    right: 51%;
    padding: 1%;
    border-radius: 50px;
    border: solid black;
}

.VersProduit:hover{
    background-color: darkorange;

}

.VersConnexion{
    color: black;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 35%;
    left: 51%;
    padding: 1%;
    border-radius: 50px;
    border: solid black;
}
.VersConnexion:hover{
    background-color: darkorange;

}

.information{
    border: solid darkorange;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact{
    color: black;
    padding: 3%;
    width: 35%;
    margin: auto auto;
    text-align: center;
    background-color: rgba(255, 117, 26, 0.6);
    border-radius: 50px;
    border: solid rgb(255, 117, 26);
}

.ins{
    width: 75%;
}

.contact:hover{
    background-color: rgb(255, 117, 26);
}

/*L'entreprise*/


.mainPropos{
    display: flex;
    flex-direction: column;
}

.Personne{
    margin: 1% auto;
    width: 70%;
    background-color: lightgray;

}

.Personne img{
    float: left;
    width: 20%;
    margin: 1% 1%;
}

.Personne p{
    font-size: 120%;
}


h7{
    font-size: 200%;
}









/*Produit*/
.Produit{
    margin: auto auto;
    background: lightgray;
    height: 40%;
    width: 80% ;
}

#ImgP1{
    float: left;
    width: 40%;
    height: 100%;
}




/*Forum*/

#forum{
    display: flex;
}

.ListeForum{
    background-color: lightgray;
    margin: 1%;
    width: 30%;
}

.LienForum{
    color: black;
    border-bottom: solid black;
    padding: 5%;
}

.LienForum:hover{
    background-color: rgb(247,121,53) ;
}

.Add{
    background-color: gray;
    color: black;
    border-bottom: solid black;

}

.Add:hover{
    background-color: #555555;
}

.imgAjoutF{
    float: left;
    width: 4%;
}

.Add p{
    float: left;
}

.conv{
    width: 67%;
}

.user{
    background: gray;
    padding: 1%;
}

.message{
    background-color: lightgray;
    padding: 1%;
}



/*Connexion*/
h1{
    font-size: 200%;
}

#Cforum{
    margin: auto auto;
    text-align: center;
    background-color: lightgray;
    width: 50%;
    top: 25%;
    left:25%;
}

.bouton:hover{
    background-color: orange;
}

.bouton{
    border-style: none;
    width: 50%;
    font-size: 200%;
    color: black;
    font-weight: bold;
    background-color: gray;
}

.connexion{
    font-size: 200%;
    border: solid black;
    border-radius: 5px;
    width: 50%;
}


/*Inscription*/

.astérix{
    position: absolute;
    color: red;
    font-size: 150%;
}



/* Profil */

#CProfil{
    margin: auto;
    width: 97%;

}



.headerprofil{
    border: solid black;
    background-color: gray;
    width: 25%;
}

.headerprofil a{
    color: black;
    font-size: 150%;
}
.lien{
    border-bottom: solid black;
}

.lienM{
    border-bottom: solid black;

}

.lien p{
    float: left;
}

.Maison  p{
    float: left;
}

.lien:hover{
    background-color: darkorange;
}

.nom{
    background-color: black;
    color: white;
    font-size: 170%;
}

.navMaisons{
    background-color: lightgray;

}

.ChoixMaison{
    border-bottom: solid black;

}

.imgOption{
    float: left;
    width: 9%;
}

.imgprofil{
    background-color: white;
    float: left;
    border: solid black;
    border-radius: 50px;
    width: 13%;
}


.corpsProfil{
    display: flex;
}

.internProfil{
    width: 80%;
}
.interligne{
    width: 1%;
}

.fleche{
    float: right;
}

h3 {
    margin: 0;
    background-color: black;
    color: white;
}

.Maison{
    color: black;
}

.ChoixMaison:hover{
    background-color: rgb(247,121,53);
}


/* Maisons */


.Maisons{
    display: none;
}

.target{
    display: none;
}
.target:target ~ Maions{
    display: none;
}


/* piece */

.Piece{
    background-color: lightgray;
}

h4{
    color: white;
    margin: 0;
    background-color: #333333;
}

#DelP{
    color: white;
    font-size: 130%;
}

#DelP:hover{
    color: red;
}

.delete{
    color: black;
    float: right;
}

.delete:hover{
    color: red;
}


.Capteurs{
    display: flex;
    justify-content: space-around;
}

.imgAjout{
    float: left;
    width: 10%;
}


.AjoutC{
    color: black;
    background-color: gray;
    width: 48%;
    margin: 0 auto;
}

.AjoutC:hover{
    background-color: rgb(247,121,53);
}

.AjoutC2{
    margin: 0 auto;
    width: 35%;
}

.imgCapteur{
    width: 10%;
    float: left;
}

#DelC{
    float: right;
    font-size: 150%;
}

.Capteur{
    font-size: 120%;
    background-color: gray;
    width: 48%;
}

.info{
    margin: 0 10%;
    padding: 2px;
    text-align: center;
    float: left;
    width: 20%;
}

span{
    float: left;
}

input[type="range"]{
    width: 25%;
    float: left;
}

.Tempname{
    float: left;
}

.Tempchoisi{
    margin-right: 37%;
    float: right;
}

.Temp{
    font-size: 90%;
    margin: 0 0;
}

.infoT{
    margin: 0 3%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
    float: left;
}

.lienCapteur{
    text-align: center;
    width: 25%;
    float: right;
    margin-right: 10%;
    color: white;
    background-color: black;
    padding: 2px;
}

.lienCapteur:hover{
    color: black;
    background-color: darkorange;
}

.Capteur{
    float: left;
}

.Valeur{
    border: 1px solid black;
}

.Aug{
    border: 1px solid black;
    background-color: gray;
}

.imgAjoutP{
    width: 10%;
}



/* Modification Profil*/
.Modif{
    text-align: center;
}

h2{
    text-align: center;
    color: darkorange;
    text-decoration: underline;
}




/* Capteur */

.boutonbis{
    border-style: none;
    width: 25%;
    font-size: 150%;
    color: black;
    font-weight: bold;
    background-color: gray;
}


.boutonbis:hover{
    background-color: darkorange;
}

.etat{
    font-size: 150%;
    font-weight: bold;
}




/*Profil Admin*/

.ChoixListe{
    background-color: lightgray;
    border-bottom: solid black;
}
.ChoixListe:hover{
    background-color: rgb(247,121,53);
}


.navListe{
    display: none;
}

.navListe:target{
    display: none;
}
#ListeCapteur:target{
    display: block;
}

#ListeProfil:target{
    display: block;
}

.ChoixListeC{
    background-color: lightgray;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr{
    border: 14px solid lightgray;
    background-color: lightgray;
}
.line{
    border: 14px solid white;
    background-color: white;

}

.Prez{
    background-color: gray;
    border: 14px solid gray;

}

.AjoutCompte{
    display: flex;
}

.AjoutCO{
    color: black;
    background-color: gray;
    width: 98%;
    margin: 0 auto;
}

.AjoutCO:hover{
    background-color: darkorange;
}

.imgAjoutCO{
    margin-left: 2%;
    float: left;
    width: 6%;
}
